<%@tag description="Overall Page template" pageEncoding="ISO-8859-1" import="javax.servlet.Servlet,java.util.*"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@attribute name="CSS" fragment="true" %>
<%@attribute name="JS" fragment="true" %>
<c:set var="root" value="${pageContext.request.contextPath}"/>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<title></title>

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link href="${root}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="<c:url value="/font-awesome/css/font-awesome.min.css" />" rel="stylesheet">
    <!-- iCheck -->
    <link href="<c:url value="/iCheck/skins/flat/green.css" />" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="<c:url value="/css/bootstrap-progressbar-3.3.4.min.css" />" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="<c:url value="/css/maps/jquery-jvectormap-2.0.3.css" />" rel="stylesheet"/>

    <link href="<c:url value="/css/daterangepicker.css" />" rel="Stylesheet" />
    
    <!-- Custom Theme Style -->
    <link href="${root}/css/custom.css" rel="stylesheet">
    
    <jsp:invoke fragment="CSS" />
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		        <div class="col-md-3 left_col">
			          <div class="left_col scroll-view">
			            <div class="navbar nav_title" style="border: 0;">
			              <a class="site_title">Cash Pickup</a>
			            </div>
			
			            <div class="clearfix"></div>
			
			            <br />
			
			            <!-- sidebar menu -->
			            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			              <div class="menu_section">
			                <h3>General</h3>
			                <ul class="nav side-menu">
							  <li><a href="Dashboard"><i class="fa fa-edit" ></i> Dashboard </span></a>
			                  </li>
			                  <li><a href="Order"><i class="fa fa-edit" ></i> Order List </span></a>
			                  </li>
			                  <li><a href="AssignPicker"><i class="fa fa-edit" ></i> Courier Assignment </span></a>
			                  </li>
			
			                </ul>
			              </div>
			
			            </div>
			            <!-- /sidebar menu -->
			
			            <!-- /menu footer buttons -->
			  
			            <!-- /menu footer buttons -->
			          </div>
        		</div>
				
				 <!-- top navigation -->
		        <div class="top_nav">
		
		          <div class="nav_menu">
		            <nav class="" role="navigation">
		              <div class="nav toggle">
		                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
		              </div>
		
		              <ul class="nav navbar-nav navbar-right">
		
		
		              </ul>
		            </nav>
		          </div>
		
		        </div>
		        <!-- /top navigation -->
				 <!-- page content -->
         			<div class="right_col" role="main">
						<jsp:doBody />
					</div>
					<footer>
			          <div class="pull-right">
			           
			          </div>
			          <div class="clearfix"></div>
			        </footer>
				<!-- /page content -->
		</div>
	</div>
	
	 <!-- jQuery -->
    <script src="${root}/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="${root}/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="${root}/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="${root}/js/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="${root}/js/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="${root}/js/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="${root}/js/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="${root}/js/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="${root}/js/skycons.js"></script>
    <!-- Flot -->
    <script src="${root}/js/flot/jquery.flot.js"></script>
    <script src="${root}/js/flot/jquery.flot.pie.js"></script>
    <script src="${root}/js/flot/jquery.flot.time.js"></script>
    <script src="${root}/js/flot/jquery.flot.stack.js"></script>
    <script src="${root}/js/flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="${root}/js/flot/jquery.flot.orderBars.js"></script>
    <script src="${root}/js/flot/date.js"></script>
    <script src="${root}/js/flot/jquery.flot.spline.js"></script>
    <script src="${root}/js/flot/curvedLines.js"></script>
    <!-- jVectorMap -->
    <script src="${root}/js/maps/jquery-jvectormap-2.0.3.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="${root}/js/moment/moment.min.js"></script>
    <script src="${root}/js/datepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="${root}/js/custom.js"></script>
    <jsp:invoke fragment="JS" />

    <!-- Flot -->
    <script>
      $(document).ready(function() {
        var data1 = [
          [gd(2012, 1, 1), 17],
          [gd(2012, 1, 2), 74],
          [gd(2012, 1, 3), 6],
          [gd(2012, 1, 4), 39],
          [gd(2012, 1, 5), 20],
          [gd(2012, 1, 6), 85],
          [gd(2012, 1, 7), 7]
        ];

        var data2 = [
          [gd(2012, 1, 1), 82],
          [gd(2012, 1, 2), 23],
          [gd(2012, 1, 3), 66],
          [gd(2012, 1, 4), 9],
          [gd(2012, 1, 5), 119],
          [gd(2012, 1, 6), 6],
          [gd(2012, 1, 7), 9]
        ];
        $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
          data1, data2
        ], {
          series: {
            lines: {
              show: false,
              fill: true
            },
            splines: {
              show: true,
              tension: 0.4,
              lineWidth: 1,
              fill: 0.4
            },
            points: {
              radius: 0,
              show: true
            },
            shadowSize: 2
          },
          grid: {
            verticalLines: true,
            hoverable: true,
            clickable: true,
            tickColor: "#d5d5d5",
            borderWidth: 1,
            color: '#fff'
          },
          colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
          xaxis: {
            tickColor: "rgba(51, 51, 51, 0.06)",
            mode: "time",
            tickSize: [1, "day"],
            //tickLength: 10,
            axisLabel: "Date",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
          },
          yaxis: {
            ticks: 8,
            tickColor: "rgba(51, 51, 51, 0.06)",
          },
          tooltip: false
        });

        function gd(year, month, day) {
          return new Date(year, month - 1, day).getTime();
        }
      });
    </script>
    <!-- /Flot -->

    <!-- jVectorMap -->
    <script src="js/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="js/maps/jquery-jvectormap-us-aea-en.js"></script>
    <script src="js/maps/gdp-data.js"></script>

    <script>
        $(document).ready(function () {
            $('#world-map-gdp').vectorMap({
                map: 'world_mill_en',
                backgroundColor: 'transparent',
                zoomOnScroll: false,
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#E6F2F0', '#149B7E'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onRegionTipShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>
    <!-- /jVectorMap -->

    <!-- Skycons -->
    <script>
        $(document).ready(function () {
            var icons = new Skycons({
                "color": "#73879C"
            }),
          list = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;

            for (i = list.length; i--; )
                icons.set(list[i], list[i]);

            icons.play();
        });
    </script>
    <!-- /Skycons -->

    <!-- Doughnut Chart -->
    <script>
        $(document).ready(function () {
            var options = {
                legend: false,
                responsive: false
            };

            new Chart(document.getElementById("canvas1"), {
                type: 'doughnut',
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                data: {
                    labels: [
              "Symbian",
              "Blackberry",
              "Other",
              "Android",
              "IOS"
            ],
                    datasets: [{
                        data: [15, 20, 30, 10, 30],
                        backgroundColor: [
                "#BDC3C7",
                "#9B59B6",
                "#E74C3C",
                "#26B99A",
                "#3498DB"
              ],
                        hoverBackgroundColor: [
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB",
                "#49A9EA"
              ]
                    }]
                },
                options: options
            });
        });
    </script>
    <!-- /Doughnut Chart -->

    <!-- gauge.js -->
    <script>
        var opts = {
            lines: 12,
            angle: 0,
            lineWidth: 0.4,
            pointer: {
                length: 0.75,
                strokeWidth: 0.042,
                color: '#1D212A'
            },
            limitMax: 'false',
            colorStart: '#1ABC9C',
            colorStop: '#1ABC9C',
            strokeColor: '#F0F3F3',
            generateGradient: true
        };
        var target = document.getElementById('foo'),
          gauge = new Gauge(target).setOptions(opts);

        gauge.maxValue = 6000;
        gauge.animationSpeed = 32;
        gauge.set(3200);
        gauge.setTextField(document.getElementById("gauge-text"));
    </script>
   
</body>
	

</html>